
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.art {
  width: 100%;
  z-index: -1;
}

@keyframes big {
  100% {transform: scale(2.4);}
}

.frame {
  position: absolute;
  width: 100%;
  animation-name: big;
  animation-duration: 0.3s;
  animation-play-state: paused;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in;
  transform-origin: top right;
}

.face {
  z-index: 1;
  position: absolute;
  top: 8.5%;
  right: 22.5%;
  width: 10%;
}

.puddle {
  z-index: 1;
  position: absolute;
  bottom: 17%;
  right: 21%;
  width: 10%;
  mix-blend-mode: soft-light;
  transform: rotateX(30deg) rotateZ(-3deg);
}

.puddle2 {
  z-index: 1;
  position: absolute;
  bottom: 16.4%;
  left: 21%;
  width: 10%;
  mix-blend-mode: color;
}

 @keyframes fall {
   0.0000% {transform: translate(96.0px, -3.0px) ; }
   4.8848% {transform: translate(101.8px, 6.9px) ; }
   15.5632% {transform: translate(108.9px, 31.1px) ; }
   28.5147% {transform: translate(113.2px, 61.3px) ; }
   57.7104% {transform: translate(119.3px, 129.8px) ; }
   71.9605% {transform: translate(124.0px, 163.0px) ; }
   84.7765% {transform: translate(131.7px, 192.2px) ; }
   90.4800% {transform: translate(137.2px, 204.5px) ; }
   95.7134% { transform: translate(143.9px, 214.8px) ; }
   100.0000% {transform: translate(151.0px, 222.0px) ;}
}

.tear {
  z-index: 1;
  position: absolute;
  top: 16.2%;
  right: 30%;
  width: 8%;
  mix-blend-mode: saturation;
  animation-name: fall;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

#container1 {
  position: relative;
  width: 160px;
  height: 160px;
  perspective: 800px;
  top: 82px;
  left: 340px;
}

#window1 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transfrom 2s;
}

@keyframes flip {
  100% {transform: translateX(-100%) rotateY(-180deg);}
}

#window1 {
  animation-name: flip;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.front1, .back1 {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front1 {
  background-color: black;
}

.back1 {
  background: url('images/marilyn.gif');
  background-size: 150px 150px;
  transform: rotateY(180deg);
}
