
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: url(images/soupalternative.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.soup1 {
  position: absolute;
  width: 14%;
  top: 245px;
  left: 220px;
}

.soup2 {
  position: absolute;
  width: 13.5%;
  top: 246px;
  left: 500px;
}

/* .soup3 {
  position: absolute;
  width: 10%;
  height: 27%;
  top: 340px;
  left: 640px;
} */

.soup4 {
  position: absolute;
  width: 14%;
  height: 37%;
  top: 243px;
  left: 760px;
}

.soup5 {
  position: absolute;
  width: 14%;
  height: 37%;
  top: 243px;
  right: 300px;
}

.video {
  position: absolute;
  right: 0;
  width: 10%;
}

.bowl {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10%;
}
